
.hero-intro {
    height: 90vh;
    overflow: hidden;
    svg{
        width: 70%;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 8;
    }
    &:after {
        content: "";
        width: 100%;
        height: calc(100vh - 40px);
        background: tomato;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 7;
        transform: translate(-50% 0);
    }
}

.hero-quote {
    height: 50vh;
    padding: 20vh 165px 20vh 20%;
    background: pink;
}