//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure.
.site-header,
.site-footer,
.primary,
.secondary {
	padding: 0 $gutter;

	@include grid-media($tablet-landscape) {
		padding: 0 6 * $gutter;
	}
} // .site-header, .site-footer, .primary, .secondary



.site-content {
	margin: rem(20) auto;

	@include grid-media($desktop) {
		margin: rem(40) auto rem(60);
	}
} // .site-content

// Keep the page content aligned with the header & footer content by default.
.has-sidebar {

	.primary {
		margin-left: 0;
	} // .primary
} // .has-sidebar
