$borderWidth : 55px;
#borders {
    & > * {
        background:#DFE2E2;
        position: fixed;
        // top:0;
        z-index: 777;
    }
    .left, .right {
        top:0;
        width:$borderWidth;
        height:100%;
    }
    .top, .bottom {
        height: $borderWidth;
        width:100%;
    }
    .left {left:0;}
    .top {top:0; z-index: 779;}
    .right {right:0;}
    .bottom{bottom:0;}
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: fixed;
  width: $borderWidth;
  height: 44px;
  z-index: 888;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #1E9CCE;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

#menu03.active {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
#menu03.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
#menu03.active span:nth-of-type(2) {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
#menu03.active span:nth-of-type(3) {
  opacity: 0;
}

section#trigger-container {
    position: absolute;
    top: 0;
    // background: #1E9CC5;
    height: 100%;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10px; 
}