#site-navigation {
    position: fixed;
    width: 35vw;
    height:900px;
    top:5%;
		padding: 0 6 * $gutter;
    left:30px;
    background: #DFE2E2;
    display: flex;
    align-items: center;
    z-index: 778;
    transform-origin: 100% 100%;
    transform: translateX(calc(-100% - 35px));
    &:after {
        content:"";
        position: absolute;
        top:-12px;
        left:-112px;
        width: 100%;
        height: 900px;
        z-index: 771;
        background: papayawhip;
    }
}

.menu-principal-container {
    height: 75vh;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    ul {
        background: #B3BEB3;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 777;
        width: 100%;
        height: 50%;
    }
}

.top svg {
    margin: 14px;
    transform:scale(1);
}

.top .logo {
    width: 160px;
}
.menu-item {
  z-index: 999;
}
